{
  "openapi": "3.1.0",
  "info": {
    "title": "ElectroGPT Thesis Action API",
    "description": "Action specialisee pour les workflows de TFE, memoire et these.",
    "version": "2.4.2"
  },
  "servers": [
    {
      "url": "https://api.lbmdinanga-tech.com",
      "description": "Public HTTPS endpoint for ChatGPT Actions"
    }
  ],
  "paths": {
    "/action-thesis": {
      "get": {
        "summary": "Action Workflow These",
        "description": "Action ChatGPT specialisee pour le workflow complet de TFE, memoire ou these.",
        "operationId": "action_thesis_action_thesis_get",
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "minLength": 2,
                  "maxLength": 500
                },
                {
                  "type": "null"
                }
              ],
              "description": "Sujet ou besoin de workflow academique",
              "title": "Query"
            },
            "description": "Sujet ou besoin de workflow academique"
          },
          {
            "name": "input",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "minLength": 2,
                  "maxLength": 500
                },
                {
                  "type": "null"
                }
              ],
              "description": "Alias principal",
              "title": "Input"
            },
            "description": "Alias principal"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ThesisActionResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ThesisActionResponse": {
        "properties": {
          "status": {
            "type": "string",
            "title": "Status"
          },
          "source": {
            "type": "string",
            "title": "Source"
          },
          "query": {
            "type": "string",
            "title": "Query"
          },
          "answer": {
            "type": "string",
            "title": "Answer"
          },
          "next_step": {
            "type": "string",
            "title": "Next Step",
            "default": ""
          },
          "error": {
            "type": "string",
            "title": "Error",
            "default": ""
          },
          "academic_level": {
            "type": "string",
            "title": "Academic Level",
            "default": ""
          },
          "deliverable_type": {
            "type": "string",
            "title": "Deliverable Type",
            "default": ""
          },
          "domain_focus": {
            "type": "string",
            "title": "Domain Focus",
            "default": ""
          },
          "proposed_topic": {
            "type": "string",
            "title": "Proposed Topic",
            "default": ""
          },
          "novelty_angle": {
            "type": "string",
            "title": "Novelty Angle",
            "default": ""
          },
          "chapter_plan_preview": {
            "items": {
              "additionalProperties": true,
              "type": "object"
            },
            "type": "array",
            "title": "Chapter Plan Preview"
          },
          "literature_strategy": {
            "additionalProperties": true,
            "type": "object",
            "title": "Literature Strategy"
          },
          "methodology_blueprint": {
            "additionalProperties": true,
            "type": "object",
            "title": "Methodology Blueprint"
          },
          "next_actions": {
            "items": {
              "type": "string"
            },
            "type": "array",
            "title": "Next Actions"
          }
        },
        "type": "object",
        "required": [
          "status",
          "source",
          "query",
          "answer"
        ],
        "title": "ThesisActionResponse"
      },
      "HTTPValidationError": {
        "properties": {
          "detail": {
            "items": {
              "$ref": "#/components/schemas/ValidationError"
            },
            "type": "array",
            "title": "Detail"
          }
        },
        "type": "object",
        "title": "HTTPValidationError"
      },
      "ValidationError": {
        "properties": {
          "loc": {
            "items": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "integer"
                }
              ]
            },
            "type": "array",
            "title": "Location"
          },
          "msg": {
            "type": "string",
            "title": "Message"
          },
          "type": {
            "type": "string",
            "title": "Error Type"
          },
          "input": {
            "title": "Input"
          },
          "ctx": {
            "type": "object",
            "title": "Context"
          }
        },
        "type": "object",
        "required": [
          "loc",
          "msg",
          "type"
        ],
        "title": "ValidationError"
      }
    }
  }
}

