{
  "openapi": "3.1.0",
  "info": {
    "title": "ElectroGPT Calc Action API",
    "description": "Action specialisee pour le calcul scientifique.",
    "version": "2.4.2"
  },
  "servers": [
    {
      "url": "https://api.lbmdinanga-tech.com",
      "description": "Public HTTPS endpoint for ChatGPT Actions"
    }
  ],
  "paths": {
    "/action-calc": {
      "get": {
        "summary": "Action Calcul",
        "description": "Action ChatGPT specialisee pour le calcul scientifique et les requetes WolframAlpha.",
        "operationId": "action_calc_action_calc_get",
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "minLength": 2,
                  "maxLength": 300
                },
                {
                  "type": "null"
                }
              ],
              "description": "Question ou expression mathematique",
              "title": "Query"
            },
            "description": "Question ou expression mathematique"
          },
          {
            "name": "input",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "minLength": 2,
                  "maxLength": 300
                },
                {
                  "type": "null"
                }
              ],
              "description": "Alias principal",
              "title": "Input"
            },
            "description": "Alias principal"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CalcActionResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "HTTPValidationError": {
        "properties": {
          "detail": {
            "items": {
              "$ref": "#/components/schemas/ValidationError"
            },
            "type": "array",
            "title": "Detail"
          }
        },
        "type": "object",
        "title": "HTTPValidationError"
      },
      "CalcActionResponse": {
        "properties": {
          "status": {
            "type": "string",
            "title": "Status"
          },
          "source": {
            "type": "string",
            "title": "Source"
          },
          "query": {
            "type": "string",
            "title": "Query"
          },
          "answer": {
            "type": "string",
            "title": "Answer"
          },
          "next_step": {
            "type": "string",
            "title": "Next Step",
            "default": ""
          },
          "error": {
            "type": "string",
            "title": "Error",
            "default": ""
          },
          "result": {
            "type": "string",
            "title": "Result",
            "default": ""
          }
        },
        "type": "object",
        "required": [
          "status",
          "source",
          "query",
          "answer"
        ],
        "title": "CalcActionResponse"
      },
      "ValidationError": {
        "properties": {
          "loc": {
            "items": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "integer"
                }
              ]
            },
            "type": "array",
            "title": "Location"
          },
          "msg": {
            "type": "string",
            "title": "Message"
          },
          "type": {
            "type": "string",
            "title": "Error Type"
          },
          "input": {
            "title": "Input"
          },
          "ctx": {
            "type": "object",
            "title": "Context"
          }
        },
        "type": "object",
        "required": [
          "loc",
          "msg",
          "type"
        ],
        "title": "ValidationError"
      }
    }
  }
}

